.category-card {
  transition: transform 0.3s ease-in-out;
  height: 200px; /* Ajusta según tus necesidades */
  overflow: hidden;
}

.category-card:hover {
  transform: scale(1.05);
}

.category-card .card-img-top {
  height: 100%;
  object-fit: cover;
}

.category-card .card-img-overlay {
  background: linear-gradient(to top, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%);
  padding: 10px;
}

